.message-panel {
    padding: 1.2rem 1rem;
    border-radius: 5px;
}

.message-panel h5 span {
    font-size: 0.9rem;
    padding-left: 2rem;
    color: #555;
    font-style: italic;
}

.message-panel div span {
    font-size: 0.9rem;
    font-style: italic;
    padding-left: 1rem;
}

.message-panel.read {
    background-color: rgba(78, 229, 159, 0.4);
}


.message-panel.unread {
    background-color: rgba(226, 221, 61, 0.4);
}

