.banner-background {
    background-image: url("../../../../../assets/images/marché.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20vh;
}

.banner-filter {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.icon-img {
    width: 50%;
}

.icon-img img {
    width: 100px;
}

.cadre {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3481ed;
    margin-top: 2em;
    margin-bottom: 4em;
    color: white;
}

.icon {
    display: flex;
    align-items: center;
}

.icon-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.counter {
    display: flex;
    align-items: center;
}

.number {
    width: 80px;
    font-size: 3em;
    color: #006130;
    font-weight: 800;
    color: white;
}

.number-name {
    font-size: 2em;
    text-transform: uppercase;
    margin-left: 3em;
    font-weight: bold;
}

@media screen and (max-width: 790px) {
    .banner-title {
        font-size: 1.8rem;
    }

    .cadre {
        margin-top: 0;
        margin-bottom: 1em;
    }
    .icon-img img {
        width: 75px;
        padding-left: 0.5em;
    }

    .icon-title {
        font-size: 1em;
        text-align: right;
        padding-right: 0.5em;
    }

    .number {
        font-size: 2.5em;
    }

    .number-name {
        font-size: 1.2em;
        text-align: right;
        padding-right: 1em;
    }

    .place-img {
        margin-top: 2em;
    }
}

.place-img {
    background-image: url("../../../../../assets/images/marché.jpg");
    width: 100%;
    background-size: cover;
    height: 30vh;
}

.block {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3481ed;
    margin-bottom: 1em;
}

.icon2 {
    align-items: center;
    padding: 2em;
    text-align: center;
}

.icon2-img {
    width: 100%;
}

.icon2-img img {
    width: 50px;
    margin-bottom: 0.5em;
}

.icon2-title {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.other-numbers {
    font-size: 2em;
    font-weight: 800;
    margin-top: 0.3em;
    color: white;
}

.title {
    color: var(--secondary);
    font-size: 2em;
    text-transform: uppercase;
}

.list-title {
    padding-top: 3em;
    padding-bottom: 3em;
}

@media screen and (max-width: 790px) {
    .title {
        font-size: 1.5em;
    }

    .list-title {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .list-name {
        font-size: 1.1em;
    }
}
