.banner-background {
    background-image: url("../../../assets/images/iotabstract.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    height: 35vh;
}

.banner-filter {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-title {
    font-size: 2.5rem;
    text-transform: uppercase;
}


.presentation-text {
    text-transform: uppercase;
    font-size: 1.6em;
    color: var(--secondary);
    margin-bottom: 0.5em;
}

.presentation-text::before {
    content: "\2756";
    padding-right: 0.7rem;
}

@media screen and (max-width: 768px) {
    .banner-background {
        height: 20vh;
    }

    .banner-filter h1 {
        font-size: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .banner-filter {
        font-size: 2.4rem;
    }
}

.custom-container {
    background-color: rgba(255, 255, 255, 0.6);
}

.sendImageButton {
    background: var(--secondary);
    color: #fff;
}

.faq-panel, .discuss-panel, .rue-panel {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
}

.icon {
    border: 1px solid var(--secondary);
    border-radius: 50%;
    padding: 1.4rem;
    margin-bottom: 1rem;
    transition: all .8s;
}

.icon i {
    font-size: 2.5rem;
    color: var(--secondary);
    transition: all .8s;
}

.faq-panel .title,
.discuss-panel .title,
.rue-panel .title
{
    text-transform: uppercase;
    color: var(--secondary);
}

.faq-panel .description,
.discuss-panel .description,
.rue-panel .description
{
    font-size: 1rem;
    text-align: center;
    color: #000;
}

.faq-panel a,
.discuss-panel a,
.rue-panel a
{
    text-transform: uppercase;
}

.faq-panel:hover > .icon,
.discuss-panel:hover > .icon,
.rue-panel:hover > .icon
{
    background-color: var(--secondary);
    transition: .8s;
}

.faq-panel:hover > .icon i,
.discuss-panel:hover > .icon i,
.rue-panel:hover > .icon i
{
    color: #fff;
    transition: .8s;
}

.btn-success {
    background-color: var(--secondary);
}

.btn-success:hover {
    background-color: var(--primary);
}
