header.index {
    position: relative;
    background-position: center;
    background-image: url("../../../assets/images/marche\ public.jpg");
    background-size: cover;
    width: 100%;
    height: 35vh;
}
header.index:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
header.index .title-index {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: #fff;
}
header.index .title-index h1,
header.index .title-index .h1 {
    text-align: center;
}

@media (min-width: 992px) {
    header.index {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }
    header.index .title-index h1,
    header.index .title-index .h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 790px) {
    header.index {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        height: 20vh;
    }
    header.index .title-index h1,
    header.index .title-index .h1 {
        font-size: 2rem;
        text-transform: uppercase;
    }
    .contenu .text-index {
        font-size: 1em;
        margin-top: -2.5em;
        padding-top: 1.5em;
        margin-bottom: -4em;
    }
}

.contenu {
    background-image: url("../../../assets/images/fond~2.jpg");
}

.text-about {
    background-color: rgba(226, 225, 223, 0.6);
    font-size: 1.04rem;
    width: 100%;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1em;
    text-align: justify;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.title {
    font-size: 2em;
    color: #006130;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

.text0 {
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}

.text {
    font-size: 1.3em;
}

.download-text {
    font-size: 1.2em;
    font-weight: bold;
}

/* .explain-img {
    width: 100%;
}

.explain-img img {
    width: 80%;
    height: 60vh;
} */

.download {
    font-size: 1em;
    background-color: #006130;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 3%;
}

.download:hover {
    background-color: #006130;
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    .modal .modal-full-height {
        position: absolute;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 400px;
        height: auto;
        min-height: 100%;
        margin: 0;
    }

    .modal .modal-full-height.modal-top,
    .modal .modal-full-height.modal-bottom {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .modal .modal-full-height.modal-top {
        bottom: auto;
    }

    .modal .modal-full-height.modal-bottom {
        top: auto;
        min-height: 0;
    }

    .modal .modal-full-height .modal-content {
        width: 100%;
    }

    .modal .modal-full-height.modal-lg {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width: 992px) and (min-width: 992px) {
    .modal .modal-full-height.modal-lg {
        width: 800px;
        max-width: 800px;
    }
}

@media (min-width: 992px) and (min-width: 1200px) {
    .modal .modal-full-height.modal-lg {
        width: 1000px;
        max-width: 1000px;
    }
}

.investor-card-img {
    position: relative;
    width: 170px;
    height: 170px;
    margin-bottom: 15px;
    padding: 3px;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.investor-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.investor-card-imgBx {
    position: absolute;
    padding-top: 3.5rem;
    left: 28%;
}

.investor-card-header {
    background-color: var(--secondary);
    height: 10vh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    padding-top: 0.9rem;
}

.investor-card-header .investor-name {
    color: white;
}

.investor-card {
    background-color: #d8e5e7;
    height: 48.5vh;
    border-radius: 0.5rem;
    transition: all 0.45s;
}

/* .investor-card:hover {
    animation-name: investor-card-animation;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
} */

@keyframes investor-card-animation {
    from {
        rotate: 0deg;
        transform: scale3d(1, 1, 1);
        transition: all 0.45s;
    }

    to {
        rotate: 3deg;
        transform: scale3d(1.02, 1.02, 1.02);
        transition: all 0.45s;
    }
}

.investor-card-body {
    padding: 9rem 0.7rem 0.7rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.investor-ceo,
.investor-phone {
    font-size: 1.2rem;
}

.investor-phone {
    margin-bottom: 1rem;
}

.investor-card-body .btn {
    border-radius: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
}

.investor-text {
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .investor-card-imgBx {
        left: 28%;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .investor-card-header {
        height: 11vh;
    }

    .investor-card {
        height: auto;
    }

    .investor-card-imgBx {
        left: 35%;
    }

    .investor-card-body {
        padding: 10rem 0.7rem 0.7rem 0.5rem;
    }
}

@media (min-width: 769px) and (max-width: 987px) {
    .investor-card-header {
        height: 11vh;
    }

    .investor-card {
        height: 54vh;
    }

    .investor-card-imgBx {
        left: 28%;
    }

    .investor-card-body {
        padding: 10rem 0.7rem 0.7rem 0.5rem;
    }
}

@media (min-width: 988px) and (max-width: 1100px) {
    .investor-card {
        height: 53vh;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .investor-card-imgBx {
        left: 23%;
    }
}

@media (min-width: 1101px) and (max-width: 1678px) {
    .investor-card {
        height: 61vh;
    }

    .investor-card-body {
        padding: 10.5rem 0.7rem 0.7rem 0.5rem;
    }
}

/* .partner-content .partner-box .partner-imgBx h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.6em;
} */

.investor-card-body .btn::after {
    content: "\2192";
    padding-left: 1rem;
}

.btn-outline-success {
    color: #499f10 !important;
    background-color: transparent !important;
    border: 2px solid #499f10 !important;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success:active:focus,
.btn-outline-success.active {
    color: #fff !important;
    background-color: #499f10 !important;
    border-color: #499f10 !important;
}

.btn-outline-success:not([disabled]):not(.disabled):active,
.btn-outline-success:not([disabled]):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    background-color: transparent !important;
    border-color: #499f10 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outline-success:not([disabled]):not(.disabled):active:focus,
.btn-outline-success:not([disabled]):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.close {
    cursor: pointer;
}
