.banner-background {
    background-image: url("../../../../assets/images/iotabstract.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    height: 35vh;
}

.banner-filter {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 769px) {
    .banner-background {
        height: 20vh;
    }
}

.custom-banner {
    background-image: url("../../../../assets/images/fond~2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: repeat-y;
}

.custom-banner .container {
    background-color: rgba(255, 255, 255, 0.8);
}

.presentation {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentation h4 {
    text-align: center
}

.presentation-title {
    font-size: 2.5em;
    color: var(--secondary);
    text-align: center;
}

.presentation-text {
    font-size: 1.2em;
    text-align: justify;
}

.text2 {
     text-align: center;
}

.tourisme {
    justify-content: center;
    text-align: center;
    /* padding-left: 4px;
    padding-right: 4px;
    border: 4px solid;
    border-color: var(--secondary);
    background-color: var(--secondary); */
    background-color: #f1f6fe;
}

/* .tourisme:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: 0.5s;
    background-color: var(--secondary);
    color: #ffffff;
} */

.tourisme-title {
    font-weight: bold;
    color: #000;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    text-transform: uppercase;
}

/* .tourisme-text {
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 0.8em;
} */
.tourisme-img {
    background-image: url("../../../../assets/images/port.jpg");
    width: 100%;
    background-size: cover;
    height: 30vh;
}

.tourisme-img2 {
    background-image: url("../../../../assets/images/plage.jpg");
    width: 100%;
    background-size: cover;
    height: 30vh;
}

.tourisme-img3 {
    background-image: url("../../../../assets/images/im1.jpg");
    width: 100%;
    background-size: cover;
    height: 30vh;
}

hr {
    background-color: var(--primary);
    height: 0.1em;
    width: 80%;
}

.tourisme-btn {
    display: flex;
    justify-content: center;
    display: inline-block;
}

.tourisme-btn a {
    background-color: var(--primary);
    color: #ffffff;
}

.tourisme-btn a:hover {
    background-color: var(--primary);
    color: #ffffff;
}

.tourisme-description {
    padding-bottom: 0.8rem;
}
